.main-container{
    width: 450px;
    height: 100vh;
    background: #eef1fa;
    margin: 0 auto;
    overflow: auto;
    display: flex;
    flex-direction: column;

    .top-part {
        width: 100%;
        height: 20%;
        background: linear-gradient( 90deg, #f8c286 0%, #f49081 100%);
        border-bottom-right-radius: 80px;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px;
        .icon-back {
            background: rgba(0,0,0,0.05);
            position: absolute;
            top:  20px;
            left: 20px;
        }
        .avatar {
            height: 80%;
            aspect-ratio: 1;
            border-radius: 50%;
            background: #ffffff;
            padding: 10px;
            box-shadow: 0px 2px 10px rgba(0,0,0,0.2);
        }
        .avatar-name {
            font-weight: bold;
            color: #30304d;
            font-size: 30px;
        }
    }
    .rating-part{
        display: flex;
        flex-direction: column;
        padding: 20px 20px 0px 20px;
        gap: 5px;
        color: #30304d;
        .rate-row {
            display: flex;
            align-items: center;
            gap: 10px
        }
    }
    .option-part {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px 20px 20px 20px;
        .card-yel {
            width: 30%;
            aspect-ratio: 1;
            border-radius: 5px;
            background: #ffffff;
            box-shadow: 1px 2px 5px rgba(0,0,0,0.2);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            .card-img {
                height: 50%;
                aspect-ratio: 1;
                border-radius: 50%;
                background: #eef1f5;
                border: 2px solid #feeeb7;
                padding: 10px;
            }
        }
    }
    .description {
        color: #30304d;
        border-top: 1px solid #e4e7f1;
        border-bottom: 1px solid #e4e7f1;
        padding: 20px;
        width: 100%;
        p{
            margin: 0;
            width: 100%;
            text-align: justify;
        }
    }
    .competences-part {
        border-bottom: 1px solid #e4e7f1;
        padding: 20px;
        display: flex;
        flex-wrap: wrap;
        gap: 15px;
        color: #30304d;
        .title {
            width: 100%;
            font-weight: bold;
            font-size: 20px;
        }
        .card-yel {
            width: 30%;
            aspect-ratio: 1;
            border-radius: 5px;
            background: #ffffff;
            box-shadow: 1px 2px 5px rgba(0,0,0,0.2);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 5px;
            .competence-img{
                height: 50%;
                width: auto;
            }
            .competence-title{
                font-size: 13px;
                font-weight: bold;
            }
        }
    }
    .avis-part {
        border-bottom: 1px solid #e4e7f1;
        padding: 20px;
        display: flex;
        flex-direction: column;
        color: #30304d;
        .title {
            width: 100%;
            font-weight: bold;
            font-size: 20px;
        }
        .avis-slide {
            display: inline-block;
            white-space: nowrap;
            overflow-x: auto;
            overflow-y: hidden;
            padding: 10px 2px;
            .card-avis {
                display: inline-block;
                height: 150px;
                width: 270px; 
                padding: 20px;
                margin-right: 20px;
                border-radius: 5px;
                background: #ffffff;
                box-shadow: 1px 2px 5px rgba(0,0,0,0.2);
                position: relative;
                .client {
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    margin-bottom: 15px;
                    img{
                        height: 30px;
                        aspect-ratio: 1;
                        border-radius: 50%;
                        background: #8777d9;
                        padding: 5px;
                    }
                    .client-name {
                        color: #78788b;
                        font-weight: bold;
                    }
                }
                p{
                    font-size: small;
                }
                .date {
                    position: absolute;
                    top: 10px;
                    right: 10px;
                    color: #dcdcdc;
                    font-size: small;
                    font-weight: bold;
                }
            }
        }

    }
    .submit-btn {
         text-transform: uppercase;
         color: #ffffff;
         font-size: 18px;
         border: 2px solid #ffffff;
         background: linear-gradient( 90deg, #f8c286 0%, #f49081 100%);
         width: 80%;
         margin: 20px auto;
         border-radius: 30px;
         height: 60px;
    }
}